<div class="container">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

  <div class="header-section">
    
    <div class="title-content">
    <div class="sub-tag">
    <i class="fa-solid fa-compass" style="margin-left: 8px;"></i>
    
    <span>دليل التشخيص</span>
</div>
      
      <h1>التعرف على الصعوبات</h1>
     <p class="desc">
  دليلك الشامل لفهم ومساعدة طفلك على تجاوز التحديات التعليمية.قمنا بتجميع اهم المعلومات
  <br> 
   حول ثلاث صعوبات رئيسية لمساعدتك في رحلة الدعم.
</p>
  </div>

  <div class="cards-wrapper">
    <div class="card" *ngFor="let item of difficulties" [ngClass]="item.theme">
      
      <div class="col-main">
  <div class="icon-circle"><i class="fa-solid" [ngClass]="item.icon"></i></div>
  <div class="title-group">
    <h2>{{ item.title }}</h2>
    <span class="latin-name">{{ item.latin }}</span>
  </div>
        <div class="image-container">
    <img [src]="item.imagePath" alt="صورة">
  </div>
</div>
      

      <div class="col-details">
        <div class="info-group">
          
          <h4 class="section-title question-icon">
    <i class="fa-regular fa-circle-question"></i> ما هي؟
</h4>
          
          <p class="description-text" [innerHTML]="item.desc"></p>
        </div>
        
            <div class="training-box">
                    <h4><i class="fa-solid fa-dumbbell"></i> التدريبات المقترحة؟</h4>
          <div class="top-trainings">
            <span *ngFor="let training of item.trainings">{{ training }}</span>
          </div>

          <div class="view-all-container">
            <button class="view-all">عرض كل التمارين</button>
          </div>
        </div>
      </div>

      <div class="col-symptoms">
        <div class="info-group">
          <h4 class="section-title symptoms-icon">
    <i class="fa-solid fa-stethoscope"></i> الأعراض الشائعة؟
</h4>
          <ul>
            <li *ngFor="let symptom of item.symptoms">{{ symptom }}</li>
          </ul>
        </div>
        
        <div class="parent-guide">
        <h4 class="section-title guide-icon">
    <i class="fa-regular fa-star"></i> دليل الأهل؟
</h4>
          <p [innerHTML]="item.parentTip"></p>
          <a class="more-link">اقرأ المزيد  ←</a>
        </div>
      </div>

    </div>
  </div>
</div>

