<div class="container">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

  <div class="header-section">
    <button class="back-btn"><i class="fa-solid fa-arrow-right"></i> رجوع</button>
    <div class="title-content">
      <span class="sub-tag">دليل التشخيص</span>
      <h1>التعرف على الصعوبات</h1>
      <p class="desc">دليلك الشامل لفهم ومساعدة طفلك على تجاوز التحديات التعليمية. قمنا بتجميع أهم المعلومات .</p>
      <p class="desc">حول ثلاث صعوبات رئيسية لمساعدتك في رحلة الدعم</p>
    </div>

  </div>

  <div class="cards-wrapper">
    <div class="card" *ngFor="let item of difficulties" [ngClass]="item.theme">
      
      <div class="col-main">
        <div class="icon-circle"><i class="fa-solid" [ngClass]="item.icon"></i></div>
        <h2>{{ item.title }}</h2>
        <span class="latin-name">{{ item.latin }}</span>
        <div class="illustration-box"></div>
      </div>

      <div class="col-details">
        <div class="info-group">
          <h3>ما هي؟ <span class="info-icon">؟</span></h3>
          <p class="description-text" [innerHTML]="item.desc"></p>
        </div>
        <div class="training-box">
          <h4><i class="fa-solid fa-dumbbell"></i> التدريبات المقترحة</h4>
          <div class="pills">
            <span *ngFor="let training of item.trainings">{{ training }}</span>
            <span class="view-all">عرض كل التمارين</span>
          </div>
        </div>
      </div>

      <div class="col-symptoms">
        <div class="info-group">
          <h3><i class="fa-solid fa-wand-magic-sparkles"></i> الأعراض الشائعة</h3>
          <ul>
            <li *ngFor="let symptom of item.symptoms">{{ symptom }}</li>
          </ul>
        </div>
        <div class="parent-guide">
          <h4><i class="fa-solid fa-graduation-cap"></i> دليل الأهل</h4>
          <p>{{ item.parentTip }}</p>
          <a class="more-link">اقرأ المزيد ←</a>
        </div>
      </div>

    </div>
  </div>
</div>